
*{
    margin:0;
      padding:0;
      box-sizing:border-box;
    
    }
    
    
    .popup{
        
        height:100vh;
        width:100%;
      background-color:#ccc;
      
      
      
      
      
    }


    .container{
        width:75%;
        padding:10px;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin:auto;
        background-color:red;
        padding:15px;
       /* margin:10px; */
        color:#fff;
        font-size:2rem;
         
       
       


    }
    
  

.wrapper-img{
    
    flex-basis:62%;
   

}

.desc{
    flex-basis:38%;
    

}

.image{
width:100%;

}


@media screen and (max-width: 800px) {

    .wrapper-img{
        flex-basis:100%;

    }

    .desc{
        flex-basis:100%;

    }












    i1{

    }